<div class="row-fluid">
    <div class="span6 offset3" style="text-align:center">
        <h2>List of Active Squids</h2>
        {% if total > 0 %}
            <h5 class="text-success">{{total}} active in the last {{squid_active_time}} seconds</h5>
        {% else %}
            <h5 class="text-info">None active in the last $squid_active_time seconds</h5>
        {% end %}
        </div>
<div class="row-fluid">
  <div class='span12'>
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Hostname</th>
          <th class="hidden-phone">Public IP</th>
          <th class="hidden-phone">Private IP</th>
          <th>Bytes Out</th>
          <th>City</th>
          <th>Region</th>
          <th class="hidden-phone">Country</th>
          <th class="hidden-phone">Latitude</th>
          <th class="hidden-phone">Longitude</th>
          <th class="hidden-phone">Last Received</th>
          <th>Alive</th>
        </tr>
      </thead>
      <tbody>
        {% for i, squid in shoal.iteritems() %}
            {% set last_msg = int(now) - squid.last_active %}
            {% set alive_time = int(now - squid.created) %}
            {% set hour = int(alive_time/60/60) %}
            {% set minute = (alive_time - hour*60*60) / 60 %}
            {% set second = alive_time - hour*60*60 - minute*60 %}
            {% set status = 'success' %}
            {#
            {% if last_msg < squid_active_time/3 %}
                {% set state = 'success' %}
            {% elif last_msg >= squid_active_time/3 and last_msg < squid_active_time*2/3 %}
                {% set state = 'warning' %}
            {% else %}
                {% set state = 'error' %}
            {% end %}
            #}


            <tr class='$state'>
                <td><span class="badge badge-$state">{{((i+1)+(page-1)*size)}}</td>
                <td>{{squid.hostname}}</td>
                <td class="hidden-phone">{{squid.public_ip}}</td>
                <td class="hidden-phone">{{squid.private_ip}}</td>
                <td>{{squid.load}} kB/s</td>
                <td>{{squid.geo_data['city']}}</td>
                <td>{{squid.geo_data['region']}}</td>
                <td class="hidden-phone">{{squid.geo_data['country']}}</td>
                <td class="hidden-phone">{{squid.geo_data['latitude']}}</td>
                <td class="hidden-phone">{{squid.geo_data['longitude']}}</td>
                <td class="hidden-phone">{{(last_msg)}}s</td>
                <td>{{(hour)}}h {{(minute)}}m {{(second)}}s</td>
            </tr>
        {% end %}
      </tbody>
    </table>
  </div>
</div>
{% if size != 0 and pages > 1 %}
  <div class="row-fluid">
    <div class"span1">
      <a href="/0">Show All</a>
    </div>
  </div>
{% end %}
{% if pages > 1 %}
  <div class="row-fluid"
    <div class="span12">
      <div class="pagination pagination-centered">
        <ul>

        {% if page == 1 %}
          <li class="disabled"><a href="#">&laquo;</a></li>
          <li class="disabled"><a href="#">&lsaquo;</a></li>
        {% else %}
          <li><a href="?page=1">&laquo;</a></li>
          <li><a href="?page=$(page-1)">&lsaquo;</a></li>
        {% end %}

        {% if pages < 10 %}
          {% for p in range(pages) %}
            {% if p+1 == page %}
              <li class="active"><a href="#">$(p+1)</a></li>
            {% else %}
              <li><a href="?page=$(p+1)">$(p+1)</a></li>
            {% end %}
          {% end %}

        {% else %}
          {% set lower = 0 %}
          {% set upper = page + 3 %}
          {% if page > 5 and page <= pages %}
            {% set lower = page - 4 %}
            {% set upper = page + 3 %}
          {% end %}
          {% if page > pages - 5 and page <= pages %}
            {% set lower = page - 4 %}
            {% set upper = pages %}
          {% end %}
          {% for p in range(lower,upper) %}
            {% if p+1 == page %}
              <li class="active"><a href="#">{{(p+1)}}</a></li>
            {% else %}
              <li><a href="?page=$(p+1)">{{(p+1)}}</a></li>
            {% end %}
          {% end }
          {% if page < (pages - 5) %}
            <li><span>...</span></li>
            {% for p in range(pages-2,pages) %}
              <li><a href="?page=$(p+1)">{{(p+1)}}</a></li>
          {% end %}
        {% end %}

        {% if page == pages %}
          <li class="disabled"><a href="#">&rsaquo;</a></li>
          <li class="disabled"><a href="#">&raquo;</a></li>
        {% else %}
          <li><a href="?page=$(page+1)">&rsaquo;</a></li>
          <li><a href="?page=$pages">&raquo;</a></li>
        {% end %}
        </ul>
      </div>
    </div>
  </div>
  {% end %}
